.text {
  max-width: 52.5rem;
  font-family: AktivGrotesk, helvetica, arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  text-wrap: wrap;
}

@media (width > 48rem) {
  .text h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

@media (width > 64rem) {
  .text h2 {
    font-size: 2.625rem;
    line-height: 3.25rem;
  }
}

@media (width > 80rem) {
  .text h2 {
    font-size: 2.625rem;
    line-height: 3.25rem;
  }
}

.text > div {
  padding: 0 1.5rem;
}

.text.center {
  margin: auto;
}