footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: 0.875rem;;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer a:any-link {
  padding: 5px;
}

@media (width >= 900px) {
  footer .section {
    text-align: right;
  }
}